<div class="col-auto col-md-2 col-xl-1 px-sm-1 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center justify-content-between px-3 pt-2 text-white min-vh-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li>
        <strong>國際</strong>
        <ul class="nav flex-column ms-1">
          <li class="w-100">
            <a href="/notice/g" class="nav-link px-0 text-nowrap">
              <i class="fas fa-bullhorn"></i>
              <span class="d-none d-sm-inline">平台公告</span>
            </a>
          </li>
          <li>
            <a href="/market" class="nav-link px-0 text-nowrap">
              <i class="fas fa-chart-bar"></i>
              <span class="d-none d-sm-inline">市場分析</span>
            </a>
          </li>
          <li>
            <a href="/responsibility" class="nav-link px-0 text-nowrap">
              <i class="fas fa-user-friends"></i>
              <span class="d-none d-sm-inline">企業責任</span>
            </a>
          </li>
          <li>
            <a href="/contact" class="nav-link px-0 text-nowrap">
              <i class="fas fa-id-card"></i>
              <span class="d-none d-sm-inline">聯繫我們</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="border-warning border-top mt-3 pt-3">
        <strong>金業</strong>
        <ul class="nav flex-column ms-1">
          <li class="w-100">
            <a href="/notice/m" class="nav-link px-0 text-nowrap">
              <i class="fas fa-bullhorn"></i>
              <span class="d-none d-sm-inline">平台公告</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="border-warning border-top mt-3 pt-3">
        <strong class="text-center">其他</strong>
        <ul class="nav flex-column ms-1">
          <li class="w-100">
            <a href="/log" class="nav-link px-0 align-middle">
              <i class="fas fa-camera-retro"></i>
              <span class="d-none d-sm-inline">操作紀錄</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>

    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <div>
          <%= name %>
        </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/logout">登出</a></li>
      </ul>
    </div>
  </div>
</div>